<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Entry Website</title>
  <link rel="stylesheet" href="./css/home.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- Nav bar -->
  <nav>
    <div class="nav__bar">
      <a href="#"><span class="logo nav__logo">DE</span> Data Entry</a>
      <div class="nav__menu__btn" id="menu-btn">
        <i class="ri-menu-3-line"></i>
      </div>
    </div>
    <ul class="nav__links" id="nav-links">
      <li><a href="/home" class="link">Home</a></li>
      <li><a href="#about" class="link">About</a></li>
      <li><a href="/addData" class="link">Add Data</a></li>
      <li><a href="/students" class="link">Students Data</a></li>
      <li><a href="#contact" class="btn">Contact</a></li>
    </ul>
    <a href="#contact" class="btn btn__large">Contact</a>
  </nav>
  <div class="container">
    <%-body%>
  </div>
</body>
</html>